{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": true,
    "module": {"type": "commonjs"},
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
      },
      "target": "es2021",
      "paths": {
        "@api/*": [
            "./dist/api/*"
          ],
          "@libs/*": [
            "./dist/libs/*"
          ],
          "@src/*": [
            "./dist/*"
          ]
      },
      "transform": {
        "legacyDecorator": true,
        "decoratorMetadata": true
      },
      "baseUrl": "./"
    },
    "minify": false
  }
  